[Unit]
Description=[Lab6] User creation service.
After=network.target

[Service]
Type=simple
ExecStart=/bin/usuarios
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n

[Install]
WantedBy=multi-user.target